<!doctype html>

<html lang="de" ng-app="led">
	<head>
		<title>pi-led</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
		<meta name="apple-mobile-web-app-title" content="pi-led">

		<link rel="apple-touch-icon" sizes="152x152" href="/images/icon/pi-led-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icon/pi-led-144x144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icon/pi-led-120x120.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icon/pi-led-114x114.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/icon/pi-led-76x76.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icon/pi-led-72x72.png">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/icon/pi-led-57x57.png">

		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/images/startup/pi-led-1536x2008.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/images/startup/pi-led-1496x2048.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/images/startup/pi-led-768x1004.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/images/startup/pi-led-768x1024.png">
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/images/startup/pi-led-640x1096.png">
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/images/startup/pi-led-640x920.png">
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/images/startup/pi-led-320x460.png">

		<link rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.8/css/ionic.min.css">
	</head>
	<body>
		<ion-nav-view animation="slide-left-right"></ion-nav-view>

		<script src="http://code.ionicframework.com/1.0.0-beta.8/js/ionic.bundle.min.js"></script>
		<script>
		angular.module('led', [
			'home'
		  , 'color'
		  , 'ionic'
		])

		.config(function($stateProvider, $urlRouterProvider) {
			$urlRouterProvider.otherwise('/');
		});
		</script>
		<script>
		angular.module('home', ['ionic'])

		.config(function($stateProvider) {
			$stateProvider.state('home', {
				url: '/',
				templateUrl: 'home.tpl.html',
				controller: 'homeCtrl'
			});
		})

		.controller('homeCtrl', function($scope, $http) {
			$scope.shutdown = function() {
				$http.get('/api/color/000000');
			};
		});
		</script>
		<script id="home.tpl.html" type="text/ng-template">
		<ion-view title="pi-led">
			<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			</ion-nav-bar>
			<ion-content>
				<div class="list">
					<a class="item item-icon-left" ui-sref="color">
						<i class="icon ion-levels"></i>
						Farbe wählen
					</a>
					<div class="item item-icon-left" ng-click="shutdown()">
						<i class="icon ion-power"></i>
						pi-led abschalten
					</div>
				</div>
			</ion-content>
		</ion-view>
		</script>
		<script>
		angular.module('color', ['ionic'])

		.config(function($stateProvider) {
			$stateProvider.state('color', {
				url: '/color',
				templateUrl: 'color.tpl.html',
				controller: 'colorCtrl'
			});
		})

		.controller('colorCtrl', function($scope, $http, $ionicGesture, $timeout, $window, $log) {
			function colorToHex(rgb) {
				return '#' + rgb.map(function(c) { return ('00' + c.toString(16)).slice(-2); }).join('');
			}

			function contentColorForHsl(h, s, l) {
				if (l > 0.4) {
					return hslToRgb(h, s, 0.3);
				} else {
					return hslToRgb(h, s, 0.7);
				}
			}

			function hue2rgb(p, q, t){
				if (t < 0) t += 1;
				if (t > 1) t -= 1;
				if (t < 1/6) return p + (q - p) * 6 * t;
				if (t < 1/2) return q;
				if (t < 2/3) return p + (q - p) * (2/3 - t) * 6;
				return p;
			}

			function hslToRgb(h, s, l){
			    var r, g, b, q, p;

			    if(s == 0){
			        r = g = b = l; // achromatic
			    } else {
			        q = l < 0.5 ? l * (1 + s) : l + s - l * s;
			        p = 2 * l - q;
			        r = hue2rgb(p, q, h + 1/3);
			        g = hue2rgb(p, q, h);
			        b = hue2rgb(p, q, h - 1/3);
			    }
			    return [r, g, b].map(function(c) { return Math.round(c * 255); });
			}

			var height = $window.innerHeight - 44
			  , width = $window.innerWidth
			  , colorTimeout;

			$http.get('/api/color').success(function(rgb) {
				var values = Object.keys(rgb).map(function(k) { return rgb[k]; });
				$scope.color = colorToHex(values);
				$scope.contentColor = (values.reduce(function(prev, v) { return prev + v; }, 0) / 3 > 155) ?
					colorToHex(values.map(function(v) { return v - 40; })) :
					colorToHex(values.map(function(v) { return v + 40; }));
			});

			$scope.color = '#cc0000';
			$scope.updateColor = function(event) {
				var hue = event.x / width
				  , lightness = event.y / height
				  , rgb = hslToRgb(hue, 1, lightness)
				  , contentRgb = contentColorForHsl(hue, 1, lightness);

				$timeout(function() {
					$scope.color = colorToHex(rgb);
					$scope.contentColor = colorToHex(contentRgb);
				});
				if (colorTimeout) { $timeout.cancel(colorTimeout); }
				colorTimeout = $timeout(function() {
					$http.get('/api/color/' + $scope.color.substring(1));
				}, 0.3 * 1000);
			};

			$ionicGesture.on('drag', function(event) {
				$scope.updateColor({
					x: event.gesture.center.pageX,
					y: event.gesture.center.pageY
				});
			}, angular.element(document.getElementById('colorPicker')));
		});
		</script>
		<script id="color.tpl.html" type="text/ng-template">
		<ion-view title="Farbe wählen">
			<ion-nav-bar class="bar-stable nav-title-slide-ios7">
				<ion-nav-buttons>
					<a ui-sref="home" class="button button-clear"><i class="ion-ios7-arrow-left"></i></a>
				</ion-nav-buttons>
			</ion-nav-bar>
			<ion-content id="colorPicker" ng-style="{'background-color': color}" ng-click="updateColor($event)" scroll="false" has-bouncing="false">
				<p style="position:absolute;top:45vh;width:100%;" class="text-center"><code ng-style="{'color': contentColor}">{{color}}</color></p>
			</ion-content>
		</ion-view>
		</script>
	</body>
</html>